import numpy as nm
import pandas as pd

In [27]:
food = pd.DataFrame([['oreo milkshake',130,'New York','brown','Us','sweet',4.4],
                   ['kimchi',20,'pune','yellow','japanese','sour',4.8],
                   ['Dosa',60,'Chennai','golden','Indian','salty',3],
                   ['gevar',500,'jaipur','White','Indian','sweet',5],
                   ['Seafood',100,'Mumbai','Red','Italian','savory',5],
                   ['kulche',40,'Delhi','Yellow','Thai','creamy',4],
                   ['dhokla',70,'pune','Yellow','Indian','spicy',3],
                   ['Chicken',200,'Kolkata','Light red','japanese','spicy',1],
                   ['Biryani',50,'pune','Light red','Spanish','spicy',2],
                   ['Kofta',70,'Hyderbad','Yellow','Spanish','spicy',4],
                   ['dal bati',230,'jaipur','brown','japanese','spicy',5],
                   ['burger',20,'Bhopal','brown','Italian','salty',4]
                  ]
                  ,columns=['Name','Price','Place','color','Cuisine','Taste','Rating'])
food

              Name  Price     Place      color   Cuisine   Taste  Rating
0   oreo milkshake    130  New York      brown        Us   sweet     4.4
1           kimchi     20      pune     yellow  japanese    sour     4.8
2             Dosa     60   Chennai     golden    Indian   salty     3.0
3            gevar    500    jaipur      White    Indian   sweet     5.0
4          Seafood    100    Mumbai        Red   Italian  savory     5.0
5           kulche     40     Delhi     Yellow      Thai  creamy     4.0
6           dhokla     70      pune     Yellow    Indian   spicy     3.0
7          Chicken    200   Kolkata  Light red  japanese   spicy     1.0
8          Biryani     50      pune  Light red   Spanish   spicy     2.0
9            Kofta     70  Hyderbad     Yellow   Spanish   spicy     4.0
10        dal bati    230    jaipur      brown  japanese   spicy     5.0
11          burger     20    Bhopal      brown   Italian   salty     4.0

In [28]:
#Costliest
for x in food.index:
    if food.loc[x,'Price']==food['Price'].max():
         print('Costliest Dish Name = ',food.loc[x,'Name'],'\nDish Price =',food.loc[x,'Price'])

Costliest Dish Name =  gevar
Dish Price = 500

In [31]:
#Cheapest
for x in food.index:
    if food.loc[x,'Price']==food["Price"].min():
         print('Cheapest Dish = ',food.loc[x,'Name'],'\nDish Price = ',food.loc[x,'Price'])

Cheapest Dish =  kimchi
Dish Price =  20
Cheapest Dish =  burger
Dish Price =  20

In [32]:
#Popular
for x in food.index:
    if food.loc[x,'Rating']==food["Rating"].max():
          print('Most Popular Cuisine = ',food.loc[x,'Cuisine'],'\nDish Rating = ',food.loc[x,'Rating'])

Most Popular Cuisine =  Indian
Dish Rating =  5.0
Most Popular Cuisine =  Italian
Dish Rating =  5.0
Most Popular Cuisine =  japanese
Dish Rating =  5.0

In [33]:
#Tastes
food['Taste'].value_counts()

spicy     5
sweet     2
salty     2
creamy    1
savory    1
sour      1
Name: Taste, dtype: int64